:root {
    --tPrincipal: "Gajraj One";
    --tSecundario: "Labrada"
}

/* Generales */

    /* Fuentes */

    *{
        font-family: "Shantell Sans";
    }

    .title1 {
        font-family: var(--tPrincipal);
    }

    .title2 {
        font-family: var(--tSecundario);
    }

    /* Separador */

    .separador {
        border: 3px dotted red;
    }



/* Cabecera de la Página */

#logo {width: 5rem;}

.headerDiv {height: 7rem;}

/* Cuerpo de la página */
    /* Carrusel */

    .headerMain img {
        height: 30rem;
        object-fit: cover;
    }

    /* Barra de navegación */
    .navbar *{font-family: var(--tSecundario);}

    /* Sección 1: Carrusel Lo más buscado el día de hoy */
    .offers img {
        height: 25rem;
    }

    /* Sección 2: */
    .beforePrice {
        text-decoration: line-through red;
        
    }

@media only screen and (min-width: 768px) {
    .offer img {
        object-fit: cover;
    }    
}
